.border{
    border: 2px solid red;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}
.btnStyle{
    border-radius: 300px;
    transition: 0.1s;
    padding: 2px;
    margin-top: 5px;
    height:auto;
    border: none;
    width:150px;
    font-weight:400;
    font-size: 12px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}
